
/*
1er vert : #3D9339;
2e vert : #BFFF7E);
*/

.menu main{
	background-color: var(--blancPdg);
	font-family: 'Kalam',cursive;
}

h1 {
	 
	 background: -webkit-linear-gradient(left,#3D9339, #BFFF7E);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Kalam',cursive;
	width: fit-content;
	margin: auto;
}
h2 img:nth-of-type(2) {
    transform: scaleX(-1);
	}

h2 span{
		text-decoration: none;
		text-align: justify;
		background: linear-gradient(to top, #3d9339 0%, #bfff7e 10%,transparent 10.01%) no-repeat left bottom / 0% 100%;
		transition: background-size .5s;
	  }
	
h2 span:hover {
		background-size: 100% 100%;
	  }